# Sample workflow for building and deploying a Next.js site to GitHub Pages
#
# To get started with Next.js see: https://nextjs.org/docs/getting-started
#
name: Build and Deploy to GitHub Pages (Reusable Workflow)

on:
  workflow_call:
    inputs:
      NODE_VERSION:
        default: "22.17.1"
        required: false
        type: string
    secrets:
      GIST_PAT:
        required: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node ${{ inputs.NODE_VERSION }} Environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.NODE_VERSION }}
          cache: npm

      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          # Automatically inject basePath in your Next.js configuration file and disable
          # server side image optimization (https://nextjs.org/docs/api-reference/next/image#unoptimized).
          #
          # You may remove this line if you want to manage the configuration yourself.
          static_site_generator: next

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npx vitest --coverage.enabled --coverage.reporter=json-summary

      - name: Build Artifact
        run: npm run build
        env:
          GIST_PAT: ${{ secrets.GIST_PAT }}

      - name: Create Coverage Badges
        uses: jaywcjlove/coverage-badges-cli@v2.2.0
        with:
          output: out/badges.svg

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
